@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'system-ui', 'sans-serif';

  --animate-fadeIn: fadeIn 0.5s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-slate-50;
  }
}